<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            <% if !item['mediumImageUrls'].first['imageUrl'].include?('noimage') %>
              <%= image_tag(item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '') , alt: item['itemName']) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item['itemName']) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item['itemName'] %>
          </p>
        </div>
        <div class="action clearfix">
          <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Want") ,
                      :class => "btn-want btn btn-danger btn-sm want",
                      :item_code => "want-#{item['itemCode']}",
                      :remote => true,
                      :method => :post %>
          <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                      :class => "btn-have btn btn-warning btn-sm have",
                      :item_code => "have-#{item['itemCode']}",
                      :remote => true,
                      :method => :post %>
        </div>
      </div>
    <% end %>
  </div>
</div>
